.fb_dialog.fb_dialog_mobile {
    position: absolute;
    width: 640px;
    height: 832px;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 0;
    display: block;
}

#LeaderboardDiv {
	background-color: white;
	position: absolute;
	display: none;
	width: 640px;
	height: 832px;
	overflow: hidden;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-top: 0;
	display: block;
	background-color: #939393;
	font-family: Helvetica;
}

.leaderboardLabel {
	background-color: #7e7e7e;
	color: white;
	font-size: 24px;
	font-weight: bold;
	border-bottom: 1px solid white;
	text-align: left;
	padding-left: 10px;
	padding-top: 2px;
}
.outerMostContainer {
	display: block;
	background-color: #939393;
	font-family: Helvetica;
}

.main_container {
	width: 100%;
	height: 100%;
}

.twitterProfileMainWrapper {
	opacity: 1;
	width: 100%;
	height: 100%;
	position: absolute;
}

.twitterProfileContainer {
	border-radius: 10px;
	border: 1px solid #999;
	
	padding: 18px;
	
	background: #666; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#222222'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #666,  #222); /* for firefox 3.6+ */
	opacity: 0.86;
	
	width: 551px;	
	height: 396px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
}

.twitterProfileOpacityBG {
	background-color: black;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	position: absolute;
}
.twitterProfileBG {
	width: 0px;
	height: 0px;
}
.twitterProfileCloseButton {
	position: relative;
	float: right;
}

.twitterTweetContainer {
	width: 94%;
	height: 130px;
	background-color: white;
	border-radius: 20px;	
	
	margin-top: 22px;
	margin-left: 5px;
	margin-right: 5px;
	
	padding: 12px;
		
	text-align: left;
	color: #777;
	font-size: 23px;
	font-weight: normal;
}

.twitterProfileNameContainer {
	color: #73A9AB;
	font-weight: bold;
	font-size: 34px;
	padding-top: 10px;
	position: relative;
	float: left;
}

.twitterChallengeButton {
	float: right;
	padding-right: 5px;
	padding-top: 16px;
}

.twitterPicAndStatsConatiner {
	position: relative;
	margin-top: 70px;
	padding-left: 10px;
	padding-right: 10px;
}

.twitterProfilePicContainer {
	width: 74px;
	height: 74px;
	float: left;
	border: solid 6px white;
}
.twitterProfileStatsContainer {
	width: 440px;
	height: 82px;
	border-top: 2px white solid;
	margin-top: 20px;
	border-bottom: 2px white solid;
	margin-left: 92px;
}

.twitterStatsLeft {
	width: 145px;
	height: 80px;
	border-right: 2px dotted white;
	position: relative;
	float: left;
}

.twitterStatsMiddle {
	width: 145px;
	height: 80px;
	border-right: 2px dotted white;
	position: relative;
	float: left;
}

.twitterStatsRight {
	width: 145px;
	height: 80px;
	position: relative;
	float: left;
}

.twitterValue {
	padding-top: 10px;
	color: white;
	font-weight: bold;
	font-size: 29px;
}

.twitterCategory {
	color: white;
	font-size: 24px;
	font-weight: normal;
	padding-top: 3px;
}
.twitterProfilePic {
	
}

.cellContainer_self {
	border-radius: 10px;
	background-color: #525252;
	width: 90%;
	margin-top: 16px;
	margin-bottom: 16px;
	height: 73px;
}

.cellContainer {
	border-radius: 10px;
	background-color: #525252;
	width: 600px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 73px;
}

.cellScore {
	height: 84%;
	position: relative;
	color: white;
	font-weight: bold;
	font-size: 50px;
	background-color: #393939;
	border-radius: 10px;
	padding: 6px;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	text-align: center;
}

.cellPicContainer {
	width: 61px;
	height: 61px;
	float: left;	
	padding: 6px;
	padding-left: 10px;
}

.cellPicContainer  img {
	width: 100%;
	height: 100%;
}

.cellUserNameContainer {
	position: relative;
	float: left;
	padding-left: 6px;
	margin-top: 9px;
}

.cellUserNameContainer p {
	padding: 0px;
	margin: 0px;
}

.cellUserName {
	color: #73A9AA;
	font-weight: bold;
	font-size: 26px;
}

.cellUserScore {
	font-weight: bold;
	color: white;
	font-size: 20px;
	float: left;
}

.cellShareAndPlayAgainContainer {
	display: block;
	border-top: 1px solid white;
	position: relative;
	color: white;
	font-weight: bold;
	font-size: 19px;
	border-bottom: 1px solid white;
	width: 100%;
	height: 57px;
	background-color: #6D6D6D;
	padding-top: 14px;
	padding-bottom: 14px;
}

.cellShareText {
	position: relative;
	width: 200px;
	padding-top: 10px;
	float: left;
	text-align: left;
	padding-left: 11px;
	font-size: 23px;
}

.cellfacebookIconContainer {
	position: relative;
	float: left;
	padding-left: 25px;
}

.cellfacebookIcon {
	padding-bottom: 10px;
}

.celltwitterIconContainer {
	position: relative;
	float: left;
	padding-left: 6px;
}

.celltwitterIcon {
	padding-bottom: 10px;
}

.cellPlayAgainContainer {
	position: relative;
	float: right;
	padding-right: 28px;
}

.cellPlayAgainButton {
	border-radius: 10px;
	width: 117px;
	height: 40px;
	font-size: 20px;
	background-color: orange;
	border-color: orange;
	padding-top: -2px;
}

.weeklyLeaderLabel {
	background-color: #939393;
	color: white;
	font-size: 24px;
	font-weight: bold;
	border-bottom: 1px solid white;
	text-align: left;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 2px;
	position: relative;
	width: 100%;
	float: left;
}

.weeklyLeaderContainer {
	display: block;
/*  overflow: hidden; */
    overflow: auto;
	margin-top: 20px;
	position: relative;
	width: 640px;
	height: 570px;
/*  height: 76%; */
}

.twitterSingleProfile {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 101;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.facebookChallenge {
	position: absolute;
	z-index: 102;
	background-color: grey;
	width: 100%;
	height: 100%;
}
.disableScreenForFBChallenge {

}