html {
	overflow:hidden;
}

body {
	font-family: helvetica, arial;
	background-color: #000000;
	color: #a3b3c3;
	border:0;
	padding:0;
	margin:0;
	font-size:11px;
	overflow:hidden;
	width: 320px;
}

h1 {
	margin:0;
	margin-left:.5em;
}

h2 {
	margin:.4em;
}

h3 {
	font-size:13px;
	margin:12px;
	padding-left:0;margin-bottom:.5em;
	color: #ffffff;
}

p {
	margin:0;
	margin:12px;
	margin-top:.5em;
	margin-bottom:.5em;
}

a {
	color: #ffffff;
}


td {
	text-align:center;
	font-size: 10px;
}

img {
	border:0;
}

.ibox {
	width:320px;
	height:306px;
	overflow:hidden;
	background-color: #000000;
	margin:auto;
	margin-top: 50px;
}

.iboxcontent {
	width:320px;
	height:306px;
	float:left;
	overflow:hidden;
}

.ibc1 {
	background-color: #3b4859;
	background-image:url(../i/bg1.png);
}

.ibc2 {
	background-color: #404d5e;
	background-image:url(../i/bg2.png);
}

.adbox {
	text-align:center;
	margin:10px;
}


.fontostext {
	color: #ffffff;
}

#stage_contents {
	width: 10000px;
}

#home_ourgames {
	margin:auto;
}

#gamecontainer {
	width:320px;
	margin:auto;
}

#gamecontainer object {
	width:320px;
	height:356px;
	border:0;
	padding:0;
	margin:0;
	overflow:hidden;
}

#container {
	width:320px;
}

#alertbox {
	display:none;position:absolute;
	z-index:200;
}

#alertbox_flekk {
	position:absolute;
	width:320px;
	height: 356px;
	background-color:#000000;
	opacity: .8;
}

#alertbox_content {
	position:absolute;
	width:320px;
	height:256px;
	margin-top:70px;
	text-align:center;
	color:#ffffff;
}

#alertbox_content .fontostext {
	color:#a3b3c3;
}

#alertbox a {
	margin:10px;
	width:114px;
	height:54px;
	
}

#preload {
	width:320px;position:absolute;
	visibility:hidden;
	overflow:hidden;
}

#scoretable {
	width: 237px;
	margin-left: 13px;
	margin-top:10px;
	font-size:12px;
	height:17px;
	overflow:hidden;
}
#scoretable div {
	float:left;
}
#score, #combo, #level {
	color:#ffffff;
}
#score {
	width:2em;
}
#level {
	width:1em;
}
#combo {
	width:1.5em;
}
#levelp {
	margin-left: 1.5em;
}
#combop {
	float:right !important;
}
#bt_realarea {
	clear:both;
	padding:0;
	margin-left:11px;
	margin-top:12px;
	width:297px;
	height:264px;
	background-image: url(../i/bgch.png); 
	position: relative;
}
.bubble {
	position:absolute;
	background-image: url(../i/b.png);
	display: block;
	width: 33px;
	height: 33px;
	opacity: 0;
}