body {
  background-color: black;
  margin: 0;
  padding: 0;
  background-image: url("../images/background.png");
}

div {
    cursor: default;
}

#cr-stage { color: white; }
#cr-stage:-moz-full-screen {    background-color: black; }
#cr-stage:-webkit-full-screen { background-color: black; }
#cr-stage:fullscreen {          background-color: black; }
/*#cr-stage:-moz-full-screen {    background-color: #00837e; }
#cr-stage:-webkit-full-screen { background-color: #00837e; }
#cr-stage:fullscreen {          background-color: #00837e; }*/


@font-face {
    font-family: "DigitalStripCyrillic";
    src: url("./fonts/DigitalStripCyrillic.ttf") format("truetype");
}