@font-face {
  font-family: 'Tienne';
  font-style: normal;
  font-weight: 900;
  src: local('Tienne Heavy'), local('Tienne-Heavy'), url('http://themes.googleusercontent.com/static/fonts/tienne/v5/x-pEeyShAyND8JRvaIEZSz8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Tienne';
  font-style: normal;
  font-weight: 400;
  src: local('Tienne Regular'), local('Tienne-Regular'), url('http://themes.googleusercontent.com/static/fonts/tienne/v5/PAtNWBbwaes22INQPctx_w.woff') format('woff');
}
*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}
html{
	width: 100%;
	height: 100%;
	background: #9c0 url("../js/game/assets/images/gamebase2.png") no-repeat top center;
	background-size: cover;
}
body{
	width: 97%;
	height: 97%;    
    /*  Webkit */
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	/*  Mozilla */
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	/*  Standard */
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
	text-align: center;
}

/*desktop*/
.table_main{
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:0;
	border-spacing: 0;
	padding: 0;
}
.table_main td{
	vertical-align: top;
}
#centerTd{
	vertical-align: middle;
	background: transparent;
	position: relative;
	display:block;
	padding-top:25px;
}

#container{
	position: absolute;
  	left: 50%;
  	top: 50%;
}

canvas{
	background-color: transparent;
	box-shadow: 0 0 15px #333;
	-moz-box-shadow: 0 0 15px #333;
	-webkit-box-shadow: 0 0 15px #333;
}
#adBox{
	background: transparent;
	width: 336px;
	height: 280px;
	z-index: 999;
	display:block;
	position: absolute;
	left: 157px;
	top:80px;
}
#fps{
	position: absolute;
  	width: 100%;
  	height: 8%;
  	bottom: 0;
  	opacity: 0.8;
}
.button{
	margin:0;
	padding:0;
	position:absolute;
	bottom:0px;
	height:80px;
	width:80px;
	background: #ccc;
	border-radius:3px;
	border: 1px solid #999;
}
#upArrow{
	left: 40px;
	bottom: 160px;
}
#downArrow{
	left:40px;
	bottom: 0;
}
#leftArrow{
	left: 0;
	bottom: 80px;
}
#rightArrow{
	left: 80px;
	bottom: 80px;
}
#buttonA{
	right: 80px;
}
#buttonB{
	right: 0;
}
#actions, #arrows{
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
}
#actions{
	right: 0;
}
#arrows{
	left: 0;
}
